<!DOCTYPE html>
<html>
<head>
	<title>FORM LOGIN</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="vh-100 d-flex justify-content-center align-items-center">
        <div class="col-md-4 p-5 shadow-sm border rounded-5 border-primary grad">
            <h1 class="text-center mb-4 text-primary">Form Login</h1>
            <form class="needs-validation" method="POST" action="{% url 'example_app:loginForm' %}">
                {%csrf_token%}
                <div class="mb-3">
                    <label for="inputNama" class="form-label">Nama</label>
                    <input type="name" class="form-control border border-primary" id="nama" name="nama" aria-describedby="emailHelp" required>
                    <div class="valid-feedback">
                        Please provide valid username
                      </div>
                </div>
                <div class="mb-3">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input type="email" class="form-control border border-primary" id="email" name="email" required>
                    <div class="valid-feedback">
                        Please provide valid password
                      </div>
                </div>
                <div class="d-grid">
                    <button class="btn btn-primary" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>

</body>
</html>
